body {
	background: url("https://veterinaryunited.com/wp-content/uploads/2020/05/blue-green-abstract-background.png") no-repeat top center / cover;
	color: rgba(43, 51, 59, 0.8);
	margin-top: 20px;
}


nav {
	margin: 20px 50px;
}

.navbar-brand {
	color: whitesmoke;
}

main {
	margin: 0px 12%;
}

.banner {
	width: 60%;
	height: 150px;
	margin: 0 15vw;
	margin-bottom: 50px;

}

.theme-img {
	height: 60%;
	width: 100%;
	margin: 0 2vw;
}

.theme-img-caption {
	background-color: rgba(43, 51, 59, 0.8);
	color: #fff;
	font-size: 25px;
	padding-top: 20px;
	text-align: center;
	width: 100%;
	height: 80px;
	margin: 0 2vw;
	margin-bottom: 50px;
}

.col-lg-6 {
	margin: 20px 0;

}

.main-title {
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 50px;
	color: black;
	text-decoartion: underline;
}

.text {
	font-size: 20px;
	padding: 50px 0;
	word-spacing: 5px;
}

.row {
	margin: 20px 0 20px 0;
	padding: 0 50px 0 50px;
	border-bottom: 5px solid whitesmoke;
	border-width: 80%;
}

.mentor-img2 {
	width: 20%%;
}

.mentor-img1 {
	width: 20%%;
}

.enroll {
	background-color: black;
	color: #fff;
	margin: 50px 50px;
	padding-bottom: 20px;
	text-align: center;
}

.enroll h2 {
	color: whitesmoke;
	font-weight: bolder;
	padding: 50px 0;
}

.enroll-link {
	text-decoration: none;
	color: #fff;

}

.enroll-link:hover {
	color: skyblue;
}
