body {
  background-color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  color: #303841;
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  background-size: cover;
  border-bottom: 5px solid rgb(135, 62, 35);
  border-spacing: 10px;
  padding: 30px 0;
  margin-bottom: 80px;
}

#logo {color: #DFBD69;}

main {
  margin: 0 15%;
}


h3 {
  color: #db8d21;
  margin-top: 20px;
  width: 80%;
  font-weight: bold;
  text-align: center;
}

b {
  color: #21c2db;
}

h4 {
  color: #011b7d;
  border-radius: 1rem;
  font-weight: bold;
  width: 60%;
}

.navbar-brand {
  color: white;
}

/*Links*/
a:hover {
  color: indianred;
}

/*main grid*/
#grid-container {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-column-gap: 50px;
}

.sections {
  font-style: italic;
  font-weight: bold;
  color: #f28f05;
}

/*logo*/
/*.logo {
  border-radius: 100%;
  height: 60px;
}*/

/*Links for Topics*/
.link {
  text-decoration: none;
  cursor: pointer;
  font-weight: lighter;
}

/*Submit Buttom*/
#submit-buttom {
  background: rgb(16, 163, 222);
  margin: 20px 10px;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 0.9em;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
  cursor: pointer;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  border: none;
  transition: all 0.5s ease-in-out;
}

#submit-buttom:hover {
  background: rgb(176, 113, 227);
  padding: 10px;
  color: black;
}

/*Topics hover effects*/
#topic:hover {
  color: rgba(92, 92, 92, 1.0);
  text-decoration: none;
  font-style: italic;
  font-family: "Lato" sans-serif;
  letter-spacing: 1px;
  cursor: pointer;
  /*margin: 0.75em;*/
}

/*Ads*/
#ad {
  transition: all 1s ease-in-out
}

#ad:hover {
  padding: 20px;
}

/*Comment*/
.form-input {
  display: flex;
  flex-wrap: wrap;
}

/*contact Us*/
#contact-us {
  color: darkcyan;
  font-variant: small-caps;
}

@keyframes contact-us {
  0% {background: yellow;  left: 0px; right: 0px;}
  50% {background: white; left: 50px; right: 0px;}
  100% {background: black; left: 0px; right: 0px;}
}

#contact-us {
  position: relative;
  animation-name: contact-us;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;animation-direction: alternate;
  animation-play-state: running;
  width: 70%;
  border-radius: 1rem;
  text-align: center;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 20px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Instagram */
.fa-instagram {
  background: radial-gradient(yellow, orange, darkviolet);
  color: white;
}

@media only screen and (min-width: 100px) and (max-width: 600px) {
  body {
    padding: 30px 80px;
  }

  iframe {
    width: 100%;
  }
}
@media only screen and (min-width: 350px) and (max-width: 400px) {
  .comm-logo {
    font-size: 20px;
  }

  iframe {
    width: 100%;
  }

  main {
  margin: 0 15px;
}
}
@media only screen and (min-width: 312px) and (max-width: 350px) {
  .comm-logo {
    font-size: 15px;
  }

  iframe {
    width: 100%;
  }

  main {
  margin: 0 0;
}
}

@media only screen and (min-width: 100px) and (max-width: 312px) {
  .comm-logo {
    font-size: 10px;
  }

  iframe {
    width: 100%;
  }

  main {
  margin: 0 0;
}
}
